<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>custom</title>
    <style>
      html,body {
        font-family: serif;
      }
    </style>
  </head>
  <body>
{{{content}}}
  </body>
</html>
